#trotar{
    background-color: #eea9c0;
}
#yoga{
    background-color: #b5a9ee;
}
#gim{
    background-color: #cce6da;
}
#ciclismo{
    background-color: #f5cbcb;
}
#danza{
    background-color: #f3b48f;
}
#natacion{
    background-color: #a9d9ee;
}
#artes-marciales{
    background-color: #54f5c6;
}