body{
    margin: 0%;
    
}
header{
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    justify-content: space-between;
    padding: 10px;
    
    align-items: center;
}
header nav a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
header nav a:hover{
    color:#909090;
}

.logo{
    display: flex; 
    align-items: center;
    
}

.logo img{
    height: 70px;
    padding-bottom: 10px;
}

/*RESPONSIVE*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    
}
/*para que apartir de los 700px mi menu haga que
los elementos de mi header (los cuáles hemos de recordar
que solo son los "a" ya que la img y el titulo están
en un div aparte) se flexionen en columnas*/