body {
    margin: 0%;
}
.franja{
    background-color: aqua;
 
}


.franja h1{
    margin: 0%;
    text-align: center;
}
.franja ul{
    margin: 0%;
    list-style: none;    
    padding: auto;
    overflow: auto;
    
}
.franja li{
    float: left;
    padding-right: 20px;
    
}
table{
    border-collapse: collapse;
}
.h-clases-dirigida tr, th, td{
    border: 1px solid grey;
    padding: 3px;
    text-align: center;
    
}

